@model List<OnlineShop.Application.Shop.Products.ModelDto.ProductDto>


    <div class="products-container">
        <div class="container swiper-container">
            <div class="title-container">
                <h3>لیست پرفروشترین‌ها</h3>
            </div>
            <div class="row swiper-wrapper">
                <a class="items swiper-slide">
                    <figure>
                        <span class="discount-badge">۳۰٪ تخفیف</span>
                        <img src="/img/p1.jpg" alt="" />
                        <div class="btn-container">
                            <div class="shop-icon icon"></div>
                            <div class="favorite-icon icon"></div>
                        </div>
                    </figure>
                    <div class="caption">
                        <h4>گل بهاری</h4>
                        <div class="price-container">
                            <span class="price line-through">۳۶۹,۰۰۰ تومان</span>
                            <span class="discount line-through">۳۴۰,۰۰۰ تومان</span>
                        </div>
                    </div>
                </a>
                <a class="items swiper-slide">
                    <figure>
                        <img src="/img/p2.jpg" alt="" />
                        <div class="btn-container">
                            <div class="shop-icon icon"></div>
                            <div class="favorite-icon icon"></div>
                        </div>
                    </figure>
                    <div class="caption">
                        <h4>گل بهاری</h4>
                        <div class="price-container">
                            <span class="price line-through">۳۶۹,۰۰۰ تومان</span>
                            <span class="discount line-through">۳۴۰,۰۰۰ تومان</span>
                        </div>
                    </div>
                </a>
                <a class="items swiper-slide">
                    <figure>
                        <img src="/img/p3.jpg" alt="" />
                        <div class="btn-container">
                            <div class="shop-icon icon"></div>
                            <div class="favorite-icon icon"></div>
                        </div>
                    </figure>
                    <div class="caption">
                        <h4>گل بهاری</h4>
                        <div class="price-container">
                            <span class="price line-through">۳۶۹,۰۰۰ تومان</span>
                            <span class="discount line-through">۳۴۰,۰۰۰ تومان</span>
                        </div>
                    </div>
                </a>
                <a class="items swiper-slide">
                    <figure>
                        <img src="/img/p4.jpg" alt="" />
                        <div class="btn-container">
                            <div class="shop-icon icon"></div>
                            <div class="favorite-icon icon"></div>
                        </div>
                    </figure>
                    <div class="caption">
                        <h4>گل بهاری</h4>
                        <div class="price-container">
                            <span class="price line-through">۳۶۹,۰۰۰ تومان</span>
                            <span class="discount line-through">۳۴۰,۰۰۰ تومان</span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>