@model List<OnlineShop.Application.Shop.ProductCategories.ModelDto.ProductCategoryDto>
@{
    ViewData["Title"] = "افزودن محصول";
    Layout = "~/Areas/AdminPanel/Views/Shared/_DefaultLayout.cshtml";
}
<link rel="stylesheet" href="~/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">
<link href="/assets/vendor_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">


<div class="d-flex align-items-center">
    <div class="mr-auto">
        <h3 class="page-title">مدیریت محصولات </h3>
        <div class="d-inline-block align-items-center">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index"><i class="mdi mdi-home-outline"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a asp-controller="Product" asp-action="List">لیست محصولات</a></li>

                    <li class="breadcrumb-item active" aria-current="page">افزودن محصول</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="box box-default">
    <div class="box-header with-border">
        <h4 class="box-title">ثبت محصول</h4>
    </div>
    <!-- /.box-header -->
    <div class="box-body wizard-content">
        <form id="productForm" class="tab-wizard wizard-circle">
            <!-- Step 1 -->
            <h6>اطلاعات پایه</h6>
            <section>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <h5>عنوان <span class="text-danger">*</span></h5>
                            <div class="controls">
                                <input type="text" name="title" id="title" class="form-control">
                                <span id="span-title" class="help-block"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <h5>نام پیوند </h5>
                            <div class="controls">
                                <input type="text" name="slug" id="slug" class="form-control">
                                <span id="span-slug" class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <label>دسته بندی</label>
                        <select name="categoryId" id="categoryId" asp-items="@(new SelectList(Model,"Id","Name"))" class="form-control">
                        </select>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <h5>توضیحات </h5>
                            <div class="controls">
                                <textarea name="description" id="description" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <div>
                                <div id="body" name="body" style="height: 150px;"></div>
                            </div>
                            <span id="span-body" class="help-block"></span>
                        </div>

                    </div>
                </div>
            </section>
            <h6>اطلاعات تکمیلی</h6>
            <section>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <label>تگ</label>
                                    <div class="controls">

                                        <input type="text" id="tag" class="form-control" data-role="tagsinput" style="display: block" placeholder="add tags" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div class="form-group">
                                    <h5>نوع محصول </h5>
                                    <div class="controls">
                                        <input type="checkbox" id="checkbox_1" checked="false" name="isPublish" value="false">
                                        <label for="checkbox_1">ویژه</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">

                        <div class="box-body">
                            <input type="hidden" id="logo" name="logo" />

                            <div class="form-group">
                                <div class="row p-t-20">
                                    <div class="col-md-3" style="margin: 0">
                                        <div class="fileUpload btn btn-info" style="border-radius: 5px; height: 30px;">
                                            <span>Upload</span>
                                            <input id="imgUp" name="imgUp" type="file" class="upload" value="آپلود"
                                                   style="position: absolute; top: 0; right: 0; margin: 0; padding: 0; font-size: 20px; cursor: pointer; opacity: 0; filter: alpha(opacity=0);" />
                                        </div>
                                    </div>

                                    <div class="col-md-9" style="margin: 0">
                                        <input id="imgUpInput" class="img img-bordered img-fluid img-hov-stretchout" placeholder="تصویر را انتخاب کنید" disabled="disabled" style="border-radius: 5px; height: 30px;" />
                                    </div>
                                </div>
                            </div>

                            <img id="previewholder" alt="uploaded image preview holder" style="margin-bottom: 30px; margin-top: 10px;" width="250px" height="250px" hidden="true" />

                        </div>
                    </div>
                </div>
            </section>
            <h6>گالری محصول</h6>
            <section>

                <input type="file" multiple id="gallery-photo-add">
                <div class="gallery"></div>
                <input type="hidden" id="gallery" />
            </section>
        </form>
    </div>
</div>


@section script
{
    <script src="/assets/vendor_components/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/vendor_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
    <script src="~/assets/vendor_components/jquery-steps-master/build/jquery.steps.js"></script>
    <script src="~/Admin/js/steps.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="~/Admin/js/Validation.js"></script>
    <script src="~/Admin/js/product/productCommand.js"></script>
    <script>
        $(document).ready(function () {
            $('#body').summernote({
                height: 160
            });
        });

    </script>

    <script>
        function readurl(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#previewholder').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        document.getElementById("imgUp").onchange = function () {
            document.getElementById("imgUpInput").value = this.value;
        };
        $("#imgUp").change(function () {
            var fd = new FormData();
            var files = $('#imgUp')[0].files[0];

            console.log(files);
            fd.append('files', files);

            $.ajax({
                url: '/file/Upload',
                type: 'post',
                data: fd,
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response != 0) {
                        $('#previewholder').show();
                        $('#previewholder').removeAttr('hidden');
                        console.log(response[0].path);
                        $("#logo").val(response[0].path);

                    } else {
                        alert('file not uploaded');
                    }
                },
            });

            readurl(this);
        });


        $(function () {
            // Multiple images preview in browser
            var gallery = [];
            var imagesPreview = function (input, placeToInsertImagePreview) {

                if (input.files) {
                    var filesAmount = input.files.length;

                    for (var i = 0; i < filesAmount; i++) {

                        var fd = new FormData();
                        var files = $('#gallery-photo-add')[0].files[0];

                      
                        fd.append('files', files);

                        $.ajax({
                            url: '/file/Upload',
                            type: 'post',
                            data: fd,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                if (response != 0) {
                          
                                    gallery.push(response[0].path);
                                    $('#gallery').val(gallery);
                                  

                                } else {
                                    alert('file not uploaded');
                                }
                            },
                        });
                        var reader = new FileReader();

                        reader.onload = function (event) {
                            $($.parseHTML('<img>')).attr('src', event.target.result).attr('width', '250px').attr('height', '250px').appendTo(placeToInsertImagePreview);
                        }
                        console.log(gallery);
           
                    


                        reader.readAsDataURL(input.files[i]);
                    }
                }

            };

            $('#gallery-photo-add').on('change', function () {

                imagesPreview(this, 'div.gallery');
            });
        });
    </script>
}
