
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Areas/AdminPanel/Views/Shared/_DefaultLayout.cshtml";
}

<link href="~/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.css" rel="stylesheet">

<div class="d-flex align-items-center">
    <div class="mr-auto">
        <h3 class="page-title">مدیریت کاربران</h3>
        <div class="d-inline-block align-items-center">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index"><i class="mdi mdi-home-outline"></i></a></li>

                    <li class="breadcrumb-item active" aria-current="page"><a asp-controller="User" asp-action="Index">لیست کاربران</a></li>
                    <li class="breadcrumb-item active" aria-current="page">تغییر رمز عبور</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">تغییر رمز عبور</h4>
                </div>
                <form id="changePasswordForm">
                    <div class="form-group">
                        <label>رمز قبلی</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ti-lock"></i></span>
                            </div>
                            <input type="password" id="oldPassword" name="oldPassword" class="form-control" placeholder="رمز قبلی">
                        </div>
                        <span id="span-oldPassword" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label>رمز جدید</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ti-lock"></i></span>
                            </div>
                            <input type="password" id="password" name="password" onkeyup="MinLengthVal(this, 6);" class="form-control" placeholder="رمز جدید">
                        </div>
                        <span id="span-newPassword" class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label>تکرار رمز عبور</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ti-lock"></i></span>
                            </div>
                            <input type="password" id="confirmPassword" name="confirmPassword" onkeyup="ComparePassword(this);"  class="form-control" placeholder="تکرار رمز عبور جدید">
                        </div>
                        <span id="span-confirmPassword" class="help-block"></span>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-rounded btn-warning btn-outline mr-1">
                            <i class="ti-trash"></i> لغو
                        </button>
                        <button type="submit" class="btn btn-rounded btn-primary btn-outline">
                            <i class="ti-save-alt"></i> تغییر
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section script
{
    <script src="~/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js"></script>
    <script src="~/js/Validation.js"></script>
    <script src="~/js/Account/AccountCommand.js"></script>
}
