
@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = "editprofile";
}

<div class="profile container level">
    @await Component.InvokeAsync("ProfileSideBarComponent", new { url })

    <div class="level-items">
        <div class="user-information">
            <h3>تغییر رمز عبور</h3>
            <form id="changepasswordForm" novalidate="">
                <div class="field">
                    <p class="control">
                        <label class="label">رمز عبور فعلی</label>
                        <input name="currentpassword" class="input" type="password" />
                    </p>
                    <p class="help is-danger hide">
                        رمز عبور فعلی خود را به درستی وارد نمایید.
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">رمز عبور جدید</label>
                        <input name="newpassword" class="input" type="password" />
                    </p>
                    <p class="help is-danger hide">
                        رمز عبور جدید خود را به درستی وارد نمایید.
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <label class="label">تکرار رمز عبور جدید</label>
                        <input name="currentpassword" class="input" type="password" />
                    </p>
                    <p class="help is-danger hide">
                        تکرار رمز عبور جدید خود را به درستی وارد نمایید.
                    </p>
                </div>
                <button type="submit" class="submit-btn">تغییر رمز عبور</button>
            </form>
        </div>
    </div>
</div>

