
@{
    ViewData["Title"] = "فزاموشی رمز عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container auth-container level">
    <div class="level-items">
        <h1 class="form-title">فراموشی رمز عبور</h1>
    </div>
    <div class="level-items">
        <form id="forgotPasswordForm" novalidate>
            <div class="field">
                <p class="control has-icons-right">
                    <label class="label">ایمیل</label>
                    <input name="email" class="input" type="email" />
                    <span class="icon is-small is-right">
                        <i class="fas fa-envelope"></i>
                    </span>
                </p>
                <p class="help is-danger hide">
                    ایمیل خود را به درستی وارد نمایید.
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-success">
                        ارسال
                    </button>
                </p>
            </div>
            <div class="field">
                <div class="redirect-link">
                    <a  asp-action="SignIn">ورود کاربران / </a>
                    <a asp-action="SignUp">ثبت نام</a>
                </div>
            </div>
        </form>
    </div>
</div>

